/* Estilos para la p치gina principal */
body {
    font-family: Arial, sans-serif;
    background-color: #FED8B1; /* Color de fondo c치lido */
    margin: 0;
    padding: 0;
}

header {
    background-color: #f59c78; /* Color de fondo del encabezado */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    background-color: #f59c78; /* Color de fondo de la barra de navegaci칩n */
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

section {
    background-color: #FFD700; /* Color de fondo de las secciones */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #f59c78; /* Color de fondo del pie de p치gina */
    color: white;
    text-align: center;
    padding: 10px;
}