/* Estilos para la página principal */
.body {
    font-family: Fira, sans-serif;
    background-color: #58B8F5; /* Color de fondo cálido */
    margin: 0;
    padding: 0;
}

header {
    background-color: #5B67F5; /* Color de fondo del encabezado */
    color: #F5B458;
    padding: 20px;
    text-align: center;
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    background-color: #A38863;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}

nav ul {
    background-color: #A38863; /* Color de fondo de la barra de navegación */
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #58B8F5;

}

section {
    background-color: #5B67F5; /* Color de fondo de las secciones */
    color: #F5B458;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    background-color: #A38863;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}