<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Red Social</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Amigos</a></li>
            <li><a href="#">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Información del Usuario</h2>
            <p>Correo Electrónico: {{ user.correo }}</p>
            <p>Nombre: {{ user.nombres }}</p>
            <p>Apellido: {{ user.apellidos }}</p>
            <p>Edad: {{ user.edad }}</p>
            <p>Género: {{ user.genero }}</p>
            <h2>Conexiones:</h2>
            <ul>
                {% for conexion in conexiones %}
                    <li>{{ conexion }}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Usuarios Recomendados</h2>
            <ul>
                {% for correo in recomendaciones %}
                    <li>{{ correo }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Mi Red Social</p>
    </footer>
</body>
</html>
