<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la Red Social</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos_wellcome.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo_transparent.png') }}" alt="Logo de la Red Social">
        <h1>Bienvenido a Quincalla</h1>
    </header>
    <main>
        <section class="buttons">
            <a href="/login" class="button">Iniciar Sesión</a>
            <a href="/signin" class="button">Registrarse</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Quincalla</p>
    </footer>
</body>
</html>
